<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>CategoryBanner\CategoryBanner</fullnamespace>
    <descriptive locale="en_US">
        <title>Category Banner</title>
        <description>Add banners to category pages, managed from the back office.</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Bannières de catégorie</title>
        <description>Ajoute des bannières sur les pages de catégorie, gérées depuis le back-office.</description>
    </descriptive>
    <!-- <logo></logo> -->
    <!--<images-folder>images</images-folder>-->
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>0.6.0</version>
    <authors>
        <author>
            <name></name>
            <email></email>
        </author>
    </authors>
    <type>classic</type>
    <!--
    module dependencies
    <required>
        <module version="&gt;=0.1">Front</module>
        <module version="~1.0">HookCart</module>
        <module version="&gt;0.2">HookSearch</module>
    </required>
    -->
    <thelia>2.6.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
